.logs-page {
    display: flex;
  }
  
  .logs-page-container {
    flex: 1;
    padding: 20px;
  }
  
  .logs-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .log {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .log h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .log p {
    margin: 5px 0;
    font-size: 14px;
    color: #777;
  }
  
  .log p:last-child {
    color: #555;
  }
  
  .log.error {
    background-color: #ffd7d7;
    border-color: #ff6868;
  }
  
  .log.warning {
    background-color: #fff3d4;
    border-color: #fcbf2e;
  }
  
  .log.info {
    background-color: #e5f5ff;
    border-color: #3ca8f7;
  }
  
.home {
    display: flex;
}

.homeContainer {
    flex: 6;
}