.notification-page {
    display: flex;
}

.notification-page-container {
    flex: 1;
    padding: 20px;
}

.notification-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notification {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.notification h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.notification p {
    margin: 5px 0;
    font-size: 14px;
    color: #888;
}

.notification p:last-child {
    color: #555;
}

.home {
    display: flex;
}

.homeContainer {
    flex: 6;
}